.background-img {
    background-image: url('../../images/header-background.png');
    min-height: 152px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: rgba(0, 0, 0, 0.8);

}

.text {
    font-size: 85px;
}

header {
    margin-bottom: 0px;
}